.baader-pagination-root {
    font-size: 0.8em;
    display: inline-block;
    margin: 0 auto;
    padding: 0.5em;
}

.baader-pagination-root .controls>div {
    display: inline-block;
    padding: 0.4em 0.8em;
}

.baader-pagination-root .controls .nav.disabled,
.baader-pagination-root .controls .nav.disabled:hover {
    background-color: #4779a1;
    color: #c0c9d8;
    cursor: default;
    /*
    visibility: hidden;
    */
}

.baader-pagination-root .controls .nav {
    font-size: 1.5em;
    background-color: #3071a7;
    border-radius: 5px;
}

.baader-pagination-root .controls .nav:hover {
    cursor: pointer;
    background-color: #4d85b3;
}

.baader-pagination-root .page-items-parent {
    padding: 0.5em 0;
}

.baader-pagination-root .page-items-parent div {
    display: inline-block;
    margin: 0 0.5em;
}