<ng-template #filterInputTemplate>
    <div class="filter-parent" [hidden]="!showFilter">
        <baader-filter-input [filter]="filter.filter" [category]="filter.column" filterLabel="Search Table:"
            categoryLabel="In Column:" (categoryChange)="filter.column = $event; filterChanged.emit();"
            (filterChange)="filter.filter = $event; filterChanged.emit()"
            [categorySelect]="getFilterColumnNames()"></baader-filter-input>
    </div>
</ng-template>

<ng-template #paginatorTemplate>
    <div class="paginator-parent" [hidden]="!showPaginator">
        <baader-pagination [totalItems]="currentFilteredItems()" (pageChanged)="setRange($event)"></baader-pagination>
    </div>
</ng-template>

<div class="baader-table-root">
    @if (!error && dataView && displayColumns) {

    @if (filterInputPosition === 'top') {
    <ng-container *ngTemplateOutlet="filterInputTemplate"></ng-container>
    }

    @if (paginatorPosition === 'top') {
    <ng-container *ngTemplateOutlet="paginatorTemplate"></ng-container>
    }

    <div class="table-droplist table-scroll" (cdkDropListDropped)="dropRow($event)" cdkDropList
        [cdkDropListDisabled]="editingRowIndex >= 0">
        <table class="baader-table" cdk-table [dataSource]="dataView" [trackBy]="trackTableIndex">

            <ng-container [cdkColumnDef]="EDIT_NAME">
                <th class="edit-header" cdk-header-cell *cdkHeaderCellDef></th>
                <td class="edit-button-cell" cdk-cell *cdkCellDef="let row; let i = index;">
                    <div class="edit-options">
                        @if (row[INDEX_NAME] === editingRowIndex) {
                        <div tabindex="{{1000+i}}" class="edit-save" (click)="stopEditRow(row[INDEX_NAME])"
                            (keydown)="editRowKbd($event, stopEditRow, row[INDEX_NAME])">{{editRowLabel}}</div>
                        } @else {
                        <div tabindex="{{1000+i}}" class="edit-edit" (click)="toggleEditRow(row[INDEX_NAME])"
                            (keydown)="editRowKbd($event, toggleEditRow, row[INDEX_NAME])">{{saveRowLabel}}</div>
                        }
                    </div>
                </td>
            </ng-container>

            @for (colspec of displayColumns; track $index) {
            <ng-container [cdkColumnDef]="colspec.name">
                <th ccdk-header-cell *cdkHeaderCellDef>
                    <div tabindex="100" class="sortable" (click)="toggleSortMode(colspec.name)"
                        (keydown)="sortColumnKbd($event, colspec.name)">
                        <div class="sort-icon">
                            {{ sortIcons[sort.column !== colspec.name ? 0 : sort.mode] }}
                        </div>
                        <div class="column-label">
                            {{colspec.displayName}}
                        </div>
                    </div>
                </th>
                <td cdk-cell *cdkCellDef="let row; let i = index;">
                    <!--
                        Switching to inline editing breaks the layout due to the input element not playing 
                        nice with resizable rows. Perhaps a script-driven solution for resizing could solve this.

                        Another alternative I've explored was showing cell content in a styled, disabled input element.
                        This allows for a nice UX as it doesn't cause the layout to jump when using
                        to inline editing, however it is poor web semantics.
                    -->
                    @if (row[INDEX_NAME] !== editingRowIndex) {
                    <div class="cell-content">{{row[colspec.name]}}</div>
                    } @else {
                    <input tabindex="{{1000+i}}" class="edit-inplace" type="text" [(ngModel)]="row[colspec.name]"
                        [disabled]="row[INDEX_NAME] !== editingRowIndex" />
                    }
                </td>
            </ng-container>
            }

            <tr cdk-header-row *cdkHeaderRowDef="displayColumnNames"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: displayColumnNames" cdkDrag cdkDragLockAxis="y"
                [cdkDragData]="row">
            </tr>
        </table>
    </div>

    @if (paginatorPosition === 'bottom') {
    <ng-container *ngTemplateOutlet="paginatorTemplate"></ng-container>
    }

    @if (filterInputPosition === 'bottom') {
    <ng-container *ngTemplateOutlet="filterInputTemplate"></ng-container>
    }

    } @else if (showErrors && error) {
    <div class="error">Error: {{error}}</div>
    } @else {
    <div class="loading">{{loadingText}}</div>
    }

</div>