<ng-template #filterInputTemplate>
    <baader-filter-input [hidden]="error || !showFilter" [filter]="filter" (filterChange)="filterChanged.emit($event)"
        [categorySelect]="showCategoryFilter ? getFilterColumnNames() : null"
        categoryLabel="Column:"></baader-filter-input>
</ng-template>

<ng-template #paginatorTemplate>
    <baader-pagination [hidden]="error || !showPaginator" [pageItems]="pageItems" [totalItems]="currentFilteredItems()"
        (pageChanged)="setRange($event)" [showPageItemsSelection]="showPageItemsSelection"></baader-pagination>
</ng-template>

<div class="baader-table-root">
    <div class="top-parent">
        @if (filterInputPosition === 'top') {
        <ng-container *ngTemplateOutlet="filterInputTemplate"></ng-container>
        }

        @if (paginatorPosition === 'top') {
        <ng-container *ngTemplateOutlet="paginatorTemplate"></ng-container>
        }
    </div>

    @if (!error && dataView && displayColumns) {
    <div class="table-droplist table-scroll" (cdkDropListDropped)="dropRow($event)" cdkDropList
        [cdkDropListDisabled]="editRowCopy">
        <table class="baader-table" cdk-table [dataSource]="dataView" [trackBy]="trackTableIndex">

            <ng-container [cdkColumnDef]="EDIT_NAME">
                <th class="edit-header" cdk-header-cell *cdkHeaderCellDef></th>
                <td class="edit-button-cell" cdk-cell *cdkCellDef="let row; let i = index;">
                    <div class="edit-options">
                        @if (editRowCopy && row[INDEX_NAME] === editRowCopy[INDEX_NAME]) {
                        <div tabindex="{{1000+i}}" class="edit-save" (click)="saveEditRow(row[INDEX_NAME])"
                            (keydown)="editRowKbd($event, saveEditRow, row[INDEX_NAME])">{{saveRowLabel}}</div>
                        <div tabindex="{{1000+i}}" class="edit-save" (click)="stopEditRow(row[INDEX_NAME])"
                            (keydown)="editRowKbd($event, stopEditRow, row[INDEX_NAME])">{{cancelEditRowLabel}}</div>
                        } @else {
                        <div tabindex="{{1000+i}}" class="edit-edit" (click)="toggleEditRow(row[INDEX_NAME])"
                            (keydown)="editRowKbd($event, toggleEditRow, row[INDEX_NAME])">{{editRowLabel}}</div>
                        }
                    </div>
                </td>
            </ng-container>

            @for (colspec of displayColumns; track $index) {
            <ng-container [cdkColumnDef]="colspec.name">
                <th ccdk-header-cell *cdkHeaderCellDef>
                    <div tabindex="100" class="sortable" (click)="toggleSortMode(colspec.name)"
                        (keydown)="sortColumnKbd($event, colspec.name)">
                        <div class="sort-icon">
                            {{ sortIcons[sort.column !== colspec.name ? 0 : sort.mode] }}
                        </div>
                        <div class="column-label">
                            {{colspec.displayName}}
                        </div>
                    </div>
                </th>
                <td cdk-cell *cdkCellDef="let row; let i = index;">
                    <!--
                        Switching to inline editing breaks the layout due to the input element not playing 
                        nice with resizable rows. Perhaps a script-driven solution for resizing could solve this.

                        Another alternative I've explored was showing cell content in a styled, disabled input element.
                        This allows for a nice UX as it doesn't cause the layout to jump when using
                        to inline editing, however it is poor web semantics.
                    -->
                    @if (!editRowCopy || row[INDEX_NAME] !== editRowCopy[INDEX_NAME]) {
                    <div class="cell-content">{{row[colspec.name]}}</div>
                    } @else if (editRowCopy) {
                    <input tabindex="{{1000+i}}" class="edit-inplace" type="text"
                        [(ngModel)]="editRowCopy[colspec.name]" />
                    } @else {
                    <div>ERR</div>
                    }
                </td>
            </ng-container>
            }

            <tr cdk-header-row *cdkHeaderRowDef="getDisplayColumnNames()"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: getDisplayColumnNames()" [cdkDragStartDelay]="400" cdkDrag
                cdkDragLockAxis="y" [cdkDragData]="row">
            </tr>
        </table>
    </div>
    } @else if (showErrorDetails && error) {
    <div class="table-info error">
        <div class="table-info-content">
            <h4 class="table-info-header">Table Error:</h4>
            <div class="table-info-text">{{error}}</div>
        </div>
    </div>
    } @else {
    <div class="table-info loading">
        <div class="table-info-content">
            @if (!error) {
            <h4 class="table-info-header">Table Info:</h4>
            <div class="table-info-text">{{loadingText}}</div>
            } @else {
            <h4 class="table-info-header">Table Info:</h4>
            <div class="table-info-text">No Data.</div>
            }
        </div>
    </div>
    }

    <div class="bottom-parent">
        @if (paginatorPosition === 'bottom') {
        <ng-container *ngTemplateOutlet="paginatorTemplate"></ng-container>
        }

        @if (filterInputPosition === 'bottom') {
        <ng-container *ngTemplateOutlet="filterInputTemplate"></ng-container>
        }
    </div>

</div>