#root {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 1em;
}

.page {
    margin: 3em auto;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a,
nav ul li a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #003158;
}

nav ul li a:before {
    content: "\00a0\2607\00a0";
    white-space: nowrap;
}