.baader-table-root {}

.table-scroll {
    width: 100%;
    overflow-x: scroll;
}

.baader-table {
    border-collapse: collapse;
    margin: 0;
    min-width: 100%;
    font-size: 0.9em;
}

.baader-table th {
    white-space: nowrap;
    background-color: #083d69;
    color: #ffffff;
    text-align: left;
    position: relative;
    resize: horizontal;
    overflow-y: auto;
}

.baader-table th,
.baader-table td,
.cdk-drag-preview td {
    padding: 12px 15px;
}

.baader-table td,
.baader-table th {
    min-width: 2em;
}

.edit-inplace,
.edit-inplace:disabled {
    width: 100%;
    padding: 4px;
    margin: 0;
    background-color: #e3f1f5;
    border: 1px solid #083d69;
    border-radius: 3px;
}

.edit-inplace:disabled {
    background-color: transparent;
    padding: 5px;
    border: 0;
}

.baader-table td.edit-button-cell,
.baader-table th.edit-header {
    width: 2em;
    overflow: hidden;
    padding: 0.1em;
    margin: 0;
}

.baader-table th.edit-header {
    resize: none;
    width: 10px;
}

.cdk-drag-preview .edit-options {
    display: none;
}

.baader-table th .sort-icon {
    margin: 0 0.5em 0 0;
}

.baader-table th div {
    display: inline-block;
}

.baader-table th div.column-resize {
    background-color: red;
    height: 100%;
    padding: 5px;
    margin: 0;
    width: 20px;
    text-align: center;
}

.baader-table .sortable {
    cursor: pointer;
}

.baader-table,
.cdk-drag-preview {
    font-size: 0.8em;
}

.baader-table tr,
.cdk-drag-preview tr {
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}

.cdk-drag-preview {
    background-color: #fffdf8;
    border: 1px solid black;
    border-width: 1px 0;
}

.baader-table .edit-button-cell .edit-options div,
.cdk-drag-preview .edit-button-cell .edit-options div {
    display: inline-block;
    margin: 0.2em;
    font-size: 1.5em;
}

.baader-table .edit-edit,
.baader-table .edit-save {
    cursor: pointer;
}

.drag-cell div,
.drag-header div {
    padding: 0;
    margin: 0;
    width: 10px;
}

.drag-cell {
    background-color: #25567e;
    cursor: grab;
}

.baader-table cdkDragHandle:active {
    cursor: grabbing;
}

cdk-drop-list {
    display: block;
    width: 100%;
}

.cdk-drag-preview {
    display: table;
    text-align: center;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.column-resize {
    cursor: col-resize;
}