<div class="baader-table-root">
    @if (!_error && _data && _dataFiltered && _displayColumns) {
    <baader-filter-input [filter]="filter.filter" [category]="filter.column" filterLabel="Search Table:"
        categoryLabel="In Column:" (categoryChange)="filter.column = $event; filterChanged.emit();"
        (filterChange)="filter.filter = $event; filterChanged.emit()"
        [categorySelect]="_displayColumnNames"></baader-filter-input>
    <baader-pagination [pageItems]="_paginationItems" [totalItems]="_data.length"
        (pageChanged)="setPage($event)"></baader-pagination>
    <table class="baader-table" cdk-table [dataSource]="_dataFiltered" [trackBy]="trackTableIndex" width="100%">
        @for (colspec of _displayColumns; track $index) {
        <ng-container [cdkColumnDef]="colspec.name">
            <th cdk-header-cell *cdkHeaderCellDef (click)="toggleSortMode(colspec.name)">
                {{colspec.displayName}}
                {{ ['▤', '▼', '▲'][colspec.sort !== undefined ? colspec.sort : 0 ] }}
            </th>
            <td cdk-cell *cdkCellDef="let row">{{row[colspec.name]}}</td>
        </ng-container>
        }

        <tr cdk-header-row *cdkHeaderRowDef="_displayColumnNames"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: _displayColumnNames"></tr>
    </table>
    } @else if (_error) {
    <div class="error">Error: {{_error}}</div>
    } @else {
    <div class="loading">Initializing table</div>
    }
</div>