<div class="baader-table-root">
    @if (!_error && _data && _displayColumns) {
    <table class="baader-table" cdk-table [dataSource]="_data" [trackBy]="trackTableIndex" width="100%">
        @for (colspec of _displayColumns; track $index) {
        <ng-container [cdkColumnDef]="colspec.name">
            <th cdk-header-cell *cdkHeaderCellDef (click)="toggleSortMode(colspec.name)">{{colspec.displayName}}
                {{colspec.sort}}</th>
            <td cdk-cell *cdkCellDef="let row">{{row[colspec.name]}}</td>
        </ng-container>
        }

        <tr cdk-header-row *cdkHeaderRowDef="_displayColumnNames"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: _displayColumnNames"></tr>
    </table>
    } @else if (_error) {
    <div class="error">Error: {{_error}}</div>
    } @else {
    <div class="loading">Initializing table</div>
    }
</div>