<div class="baader-filter-root">
    <div class="filter-label">
        {{filterLabel}}
    </div>
    <div class="filter-parent">
        <input tabindex="4" class="filter-text" type="text" [value]="filter" (input)="filterValueChanged($event)" />
    </div>
    @if (_categories) {
    <div class="categories">
        <div class="category-label">
            {{categoryLabel}}
        </div>
        <div class="category-parent">
            <select tabindex="4" class="category-select" [value]="category" (change)="selectedCategoryChanged($event)">
                @if (_categories.indexOf(categoryDefaultValue) === -1) {
                <option value="{{categoryDefaultValue}}"></option>
                }
                @for (category of _categories; track $index) {
                <option [ngValue]="category">{{category}}</option>
                }
            </select>
        </div>
    </div>
    }
    <div class="reset-parent">
        <button tabindex="4" (click)="resetFilter()">{{resetLabel}}</button>
    </div>
</div>