.baader-filter-root {
    display: inline-block;
    margin: 0 auto;
}

.baader-filter-root div {
    display: inline-block;
    padding: 0.5em;
}

.category-label,
.filter-label {
    font-size: 0.8em;
}

.filter-text {
    width: 80px;
}