<markdown class="textblock" ngPreserveWhitespaces>
    # Assignment Description

    Your task is to create a table in Angular that can display data from an API. The table should support multiple
    features, including sorting and filtering. It should also be configurable to work with different datasets and
    column configurations. You will need to provide a demo of the table working with two different datasets: a Users
    List and a Products List.

    Each list has its own columns and dataset. To create the demo, you will need to create two components: one for
    the Users List and one for the Products List. Each component should fetch data from an API and display it in the
    created table.

    The demo should have two routes, one for the Users List and one for the Products List.

    You can choose to fetch the data from a local backend, use mock data, or use any public API such as
    JSONPlaceholder, Fakestore API for the products list, and Random User API for the users list.

    ## Requirements:
    1. &#9745; The table should be created using Angular components and directives.
    2. &#9745; The table receives the columns and the data as Input.
    3. &#9745; The table should fetch data from an API and display it in the table.
    4. &#9745; The table should support sorting by clicking on column headers.
    5. &#9745; The table should support filtering by a search term entered by the user.
    6. &#9745; The table should support pagination to display a limited number of rows at a time.
    7. &#9745; The table should allow users to edit and update data directly from the table.
    8. &#9745; The table should be configurable to work with different datasets and column configurations.
    9. &#9745; (Nice to have) The table should support drag and drop to reorder rows.
    10. &#9745; (Nice to have) The table should allow users to reorder and resize columns.

    ## Deliverables:
    1. &#9745; A fully functional Angular application that implements the requirements listed above.
    2. &#9744; Code should be well organized, documented, and easy to maintain.
    3. &#9744; Provide a brief explanation of how you implemented each of the requirements listed
    above in the code.
    4. &#9744; Submit the code to a public Git repository (e.g., GitHub) with clear instructions on
    how to run the application.

    ## Evaluation Criteria:
    1. Completeness of the solution
    2. Code Quality and maintainability
    3. Adherence to the requirements and best practices of Angular development
    4. Ability to explain the implementation of the requirements in the code.
    5. Ability to configure the table for different datasets and column configurations.
</markdown>